#main{
	
}
/*-------------for pop up ------------*/
/*--------------------------*/
.error{
	color:red;
}
.bo {
    position: relative;
	padding-left:10px;
	padding-right:5px;
	padding-top:1px;
	padding-bottom:1px;
	display: none;
    overflow: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 2px;
	color:red;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	background: rgba(51, 0, 0, 0.3);
	border-radius:5px;
}
.img1{
	width:100%;
	/*height:605px;*/
	height:100%;
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.hed{
	background-color:white;
	height:80px;
	width:100%;
	position:fixed;
	left: 0px;
    top: 0px;
	background: rgba(0, 0, 0, 0.6);
}
#opa{	
	background-color:black;
	color:white;
	width:250px;
	margin-left:60%;
	margin-top:-2%;
	background: rgba(0, 0, 0, 0.3);
	border-radius:5px;
	padding:1%;
	padding-top:20px;
	padding-left:20px;
	position:absolute;
}
.unl{
	font-size:19px;
	font-family: "Times New Roman", Times, serif;
	color:#ffffb3;
}
.unt{
	margin-top:5px;
	width:238px;
	height:25px;
	border-radius:5px;
	border: 1px solid black;
}
.pal{
	font-size:19px;
	font-family: "Times New Roman", Times, serif;
	color:#ffffb3;
}
.pat{
	margin-top:6px;
	width:238px;
	height:25px;
	border-radius:5px;
	border: 1px solid black;
}
.sub{
	background-color:white;
	width:120px;
	height:35px;
	font-size:20px;
	border-radius:5px;
	cursor: pointer;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	background-color: #e7e7e7; 
    color: black; 
    border: 2px solid #008CBA;
}
.unt:hover{
	box-shadow: 0 0 10px #000066, 0 0 10px #ffff99;
}
.pat:hover{
	box-shadow: 0 0 10px #000066, 0 0 10px #ffff99;
}
.sub:hover{
	background-color:#b3ffb3;
	border: 2px solid #555555;
}
/* for navigation bar*/
ul {
    list-style-type: none;
    margin-top: -98px;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
	font-size:18px;
	float:right;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 29px 16px;
	float:right;
    text-decoration: none;
	color:#ffffb3;
}
li a:hover {
    background-color:#333300;
}
.img2{
	width:80px;
	height:80px;
	position: absolute;
    margin-left:80px;
	margin-top:-14px;
}
.app{
	color:#4d4dff;
	margin-left:14%;
	margin-top:15px;
	font-size:38px;
	font-family: "Bell MT";
	-webkit-animation: mymove 5s infinite;
	-moz-animation:mymove 5s infinite;
}


@-webkit-keyframes mymove {
    50% {word-spacing: 50px;}
}
@keyframes mymove {
    50% {word-spacing: 50px;}
}
.s2{
	color:#e60000;
}
.s1{
	color:#ffff00;
}
.s3{
	color:#ffff00;
}

/*Welcome*/
#welcome{
	margin-left:20%;
	margin-top:16%;
}
.wel{
	color:#ffffcc;
	font-size:40px;
	font-family: "Times New Roman", Times, serif;
}
.wrt{
	color:#ffffcc;
	font-size:20px;
	font-family: "Times New Roman", Times, serif;
}
.bo {
    position: relative;
	padding-left:10px;
	padding-right:5px;
	padding-top:1px;
	padding-bottom:1px;
	display: none;
    overflow: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 2px;
	color:red;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	background: rgba(51, 0, 0, 0.3);
	border-radius:5px;
}

@media only screen and (max-width: 800px) {
	
	#opa{	
	background-color:black;
	color:white;
	width:250px;
	margin-left:60%;
	margin-top:1%;
	background: rgba(0, 0, 0, 0.3);
	border-radius:5px;
	padding:1%;
	padding-top:20px;
	padding-left:20px;
	position:absolute;
}
    .img2{
	width:80px;
	height:80px;
	position: absolute;
    margin-left:60px;
	margin-top:-14px;
}
	.app{
	color:#4d4dff;
	margin-left:18%;
	margin-top:15px;
	font-size:38px;
	-webkit-animation: mymove 5s infinite;
	-moz-animation:mymove 5s infinite;
}
#welcome{
	margin-left:6%;
	margin-top:50%;
}
	.wel{
	color:#ffffcc;
	font-size:35px;
	font-family: "Times New Roman", Times, serif;
}
	.wrt{
	color:#ffffcc;
	font-size:18px;
	font-family: "Times New Roman", Times, serif;
}
}

@media only screen and (max-width: 360px) {
	.hed{
	background-color:white;
	height:60px;
	width:100%;
	position:fixed;
	left: 0px;
    top: 0px;
	background: rgba(0, 0, 0, 0.6);
	}
	.img2{
	width:50px;
	height:50px;
	position: absolute;
    margin-left:10px;
	margin-top:-8px;
}
	.app{
		color:#4d4dff;
		margin-left:18%;
		margin-top:14px;
		font-size:24px;
		-webkit-animation: mymove 5s infinite;
		-moz-animation:mymove 5s infinite;
}
	ul {
		list-style-type: none;
		margin-top: -84px;
		padding-top: 6px;
		overflow: hidden;
}
	li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 24px 16px;
	float:right;
    text-decoration: none;
	color:#ffffb3;
}
#opa{	
	background-color:black;
	color:white;
	width:250px;
	margin-left:10%;
	margin-top:50%;
	background: rgba(0, 0, 0, 0.3);
	border-radius:5px;
	padding:1%;
	padding-top:20px;
	padding-left:20px;
	position:absolute;
}
#welcome{
	margin-left:16%;
	margin-top:32%;
}
	.wel{
	color:#ffffcc;
	font-size:28px;
	font-family: "Times New Roman", Times, serif;
}
	.wrt{
	color:#ffffcc;
	font-size:16px;
	font-family: "Times New Roman", Times, serif;
}

}
/*----- for upload page -----*/

.hed1{
	background-color:#004c99;
	/*#ffffe5;#f2ffe5*/
	height:80px;
	width:100%;
	position:fixed;
	left: 0px;
    top: 0px;
	border-bottom: 1px solid #0073e6;
	box-shadow: 0 0 0px #000066, 0 0 0px #000066;
}
.app1{
	color:white;
	margin-left:14%;
	margin-top:15px;
	font-size:38px;
	font-family: "Bell MT";
	-webkit-animation: mymove 5s ;
	-moz-animation:mymove 5s ;
}
.app1:hover{
	color:#ffff99;
	margin-left:14%;
	margin-top:15px;
	font-size:38px;
	font-family: "Bell MT";
	-webkit-animation: mymove 5s infinite;
	-moz-animation:mymove 5s infinite;
}
@-webkit-keyframes mymove {
    50% {word-spacing: 50px;}
}
@keyframes mymove {
    50% {word-spacing: 50px;}
}
.upbd{
	background-color:#ffe5ff;
}
#upld{
	background-color:#e5ffff;
	color:black;
	width:325px;
	margin-left:60%;
	margin-top:9%;
	border-radius:5px;
	padding:1%;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	float:left;
	z-index: -1;
	box-shadow: 0 0 15px #99c2ff, 0 10px 10px #ffd9b3;
}
.nam{
	margin-top:8px;
	width:320px;
	height:30px;
	border-radius:5px;
	border: 2px solid #ffcccc;
}
#description{
	margin-top:8px;
	border-radius:5px;
	border: 2px solid #ffcccc;
	margin-bottom:8px;
	width:320px;
}
.nam:hover{
	box-shadow: 0 0 15px #000066, 0 0 10px #ffff99;
}
#description:hover{
	box-shadow: 0 0 15px #000066, 0 0 10px #ffff99;
}
.sub1{
	background-color:white;
	width:120px;
	height:35px;
	font-size:20px;
	border-radius:5px;
	cursor: pointer;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	background-color: #e5ffff; 
    color: black; 
    border: 2px solid #008CBA;
	margin-left:8%;
}
.sub1:hover{
	background-color:#ffffcc;
	border: 2px solid #555555;
	box-shadow: 0 0 11px #668cff;
}
#intro{
	margin-top:-30%;
	margin-left:10%;
	float:left;
	position:relative;
}
.up{
	color:#002266;
	font-size:45px;
	margin-top:-5%;
}
.sh{
	margin-top:6%;
	color:#002699;
	font-size:26px;
}
.op{
	color:#668cff;
	font-size:22px;
}
#picture{
	color:black;
	width:200px;
	margin-left:10%;
}
@media only screen and (max-width: 360px) {
	.img2{
	width:80px;
	height:80px;
	position: absolute;
    margin-left:45px;
	margin-top:-12px;
}
	.app1{
	color:white;
	margin-left:35%;
	margin-top:15px;
	font-size:32px;
	font-family: "Bell MT";
}
	.app1:hover{
	color:#ffff99;
	margin-left:35%;
	margin-top:15px;
	font-size:34px;
	font-family: "Bell MT";
	-webkit-animation: mymove 5s ;
	-moz-animation:mymove 5s ;
}
#intro{
	margin-top:-224%;
	margin-left:10%;
	position:relative;
	z-index: -1;
}
#upld{
	background-color:#e5ffff;
	color:black;
	width:290px;
	margin-left:2%;
	margin-top:110%;
	border-radius:5px;
	padding:1%;
	padding-top:0px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	z-index: -1;
	box-shadow: 0 0 15px #99c2ff, 0 10px 10px #ffd9b3;
}
.nam{
	margin-top:8px;
	width:280px;
	height:28px;
	border-radius:5px;
	border: 2px solid #ffcccc;
}
#description{
	margin-top:8px;
	border-radius:5px;
	border: 2px solid #ffcccc;
	margin-bottom:8px;
	width:280px;
}
.sub1{
	background-color:white;
	width:120px;
	height:30px;
	font-size:16px;
	border-radius:5px;
	cursor: pointer;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	background-color: #e5ffff; 
    color: black; 
    border: 2px solid #008CBA;
	margin-left:28%;
}
.up{
	color:#002266;
	font-size:40px;
	margin-top:-5%;
}
.sh{
	margin-top:4%;
	color:#002699;
	font-size:20px;
}
.op{
	color:#668cff;
	font-size:14px;
	margin-top:-5%;
}
#picture{
	color:black;
	width:200px;
	margin-left:2%;
}
}

/* -------------- for update page ----------*/

#updt{
	background-color:#e5ffff;
	color:black;
	margin-left:37%;
	margin-top:8%;
	border-radius:5px;
	padding:1%;
	padding-top:5px;
	padding-left:20px;
	padding-right:20px;
	position:relative;
	float:left;
	z-index: -1;
	box-shadow: 0 0 15px #99c2ff, 0 10px 10px #ffd9b3;
}
.nam1{
	margin-top:8px;
	width:320px;
	height:30px;
	border-radius:5px;
	border: 2px solid #ffcccc;
}
.description1{
	margin-top:8px;
	border-radius:5px;
	border: 2px solid #ffcccc;
	margin-bottom:8px;
	width:320px;
}
.nam1:hover{
	box-shadow: 0 0 15px #1a53ff, 0 0 0 #e5ecff;
}
.description1:hover{
	box-shadow: 0 0 15px #1a53ff, 0 0 0 #e5ecff;
}

/*------------------ for signup page -------------*/

#sup{	
	background-color:black;
	color:white;
	width:265px;
	margin-left:58%;
	margin-top:-4%;
	background: rgba(0, 0, 0, 0.3);
	border-radius:5px;
	padding:1%;
	padding-top:20px;
	padding-left:20px;
	position:absolute;
}
.sunt{
	margin-top:7px;
	margin-right:7px;
	width:255px;
	height:27px;
	border-radius:5px;
	border: 1px solid black;
}
.sunt:hover{
	box-shadow: 0 0 10px #000066, 0 0 10px #ffff99;
}
#welcome2{
	margin-left:18%;
	margin-top:16%;
}
	.wel{
	color:#ffffcc;
	font-size:37px;
	font-family: "Times New Roman", Times, serif;
}
	.wrt{
	color:#ffffcc;
	font-size:18px;
	font-family: "Times New Roman", Times, serif;
}
}
/*------------- for about page ----------------*/
.wrti{	
	color:black;
	position:relative;
	
}
.awel{
	margin-top:120px;
	margin-left:100px;
	color:#4d004c;
	font-size:40px;
}
.de{
	margin-left:100px;
	font-size:20px;
	color:#80007f;
}
.dev{
	margin-left:120px;
	color:#000066;
}
.add{
	margin-left:120px;
	color:#00004d;
}
.bk{
	margin-left:100px;
	color:#80007f;
}