#deco{
	background-color:#FCFCFC;
	padding-top:0.5px;
	margin-left:20%;
	margin-right:20%;
	
}
#link{
	background-color:#FCFCFC;
}
#block{
	background-color:#FFFFD4;
	padding:2%;
	width: 250px;
    	height: 160px;
	border: 1px solid blue;
	margin-right:40px;
	margin-left:40px;
	margin-bottom:1%;
	margin-top:1%;
	float:left;
}

#view{
	background-color:#FCFCFC;
	padding-top:0.5px;
	margin-left:20%;
	margin-right:20%;
	
}
#view2{
	background-color:#FFFFD4;
	padding:2%;
	border: 1px solid blue;
	margin-right:40px;
	margin-left:40px;
	margin-bottom:1%;
	margin-top:1%;
	float:left;
}
#view3{
	background-color:#FFFFD4;
	padding:2%;
	border: 1px solid blue;
	margin-right:10%;
	margin-left:10%;
	margin-bottom:1%;
	margin-top:1%;
}
#dv{
	background-color:#FCFCFC;
	overflow:hidden; width:70%;
	padding-left:15%;
	display: block;
}
